BODY {
    font-family: sans-serif;
    font-size: 1vw;
    --pad: 0.5vw;
    --line_height: 1.18vw;
    --line_number_width: 1.5vw;
    --header_height: 2.4vw;
    --bubble_handle_size: 0.5vw;
    --target_feedback_width: 0.15vw;
    --char-border: 0.2vw;
    overflow: hidden;
}

BODY::backdrop {
    background: #FFF;
}

DIALOG {
    border-width: 1vw;
    border-radius: 1vw;
    line-height: 1.5em;
}

DIALOG .dialog_title {
    background: #FF9;
    padding: 1vw;
    font-weight: bold;
    border-radius: 2vw;
    margin-top: 0px;
}

DIALOG .dialog_content {
    max-height: 70vh;
    overflow: auto;
}

DIALOG BUTTON {
    display: block;
    margin-top: 2vw;
    float: right;
    font-size: 130%;
}

DIALOG BUTTON#popup_cancel {
    float: left;
}

DIALOG INPUT {
    font-size: 100%;
    margin: 1vw;
}

DIV.question {
    text-align: justify;
    overflow: auto;
}

DIV.compiler,
DIV.executor,
DIV.editor,
DIV.editor_title,
DIV.overlay {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    font-family: monospace, monospace;
    line-height: var(--line_height);
    overflow: auto;
}

DIV.editor_title H2 {
    margin-bottom: 0px;
}

DIV.editor_title SELECT.save_history {
    font-size: 70%;
    max-width: 16vw;
}

BODY.versions DIV.editor_title H2 {
    padding-top: 0px;
    padding-left: 0px;
}

BODY.versions DIV.editor_title .canvas {
    display: block;
}

.version_feedback {
    position: fixed;
    right: 0px;
    top: 0px;
    background: #000;
    color: #FFF;
    z-index: 100;
    padding: 0.2vw;
    max-width: 30vw;
}
.version_feedback .code {
    font-size: 0.6vw;
}

DIV.editor_title .canvas {
    display: none;
    width: 100%;
}

DIV.tester {
    overflow: auto;
}

DIV.grading {
    overflow: auto;
}

#grading_select {
    width: 11.5vw;
}

BUTTON.grade_unselected[onclick] {
    font-size: 0.7vw;
}

#grading_feedback {
    width: 15vw;
    font-size: 85%;
    line-height: 0.6vw;
    float: left;
}

#grading_sum SMALL {
    font-size: 70%;
    line-height: 1vw;
}

#grading_sum {
    margin-top: -0.2vw;
    font-size: 90%;
    width: 18.5vw;
}

DIV.editor {
    outline: none;
    pointer-events: initial;
}

DIV.grading>DIV:first-child,
DIV.question>DIV:first-child,
DIV.tester>DIV:first-child,
DIV.compiler>DIV:first-child,
DIV.executor>DIV:first-child {
    position: sticky;
    top: 0px;
    z-index: 2;
}

.error,
.warning,
.eval,
.cursor,
.cursor_after,
.cursorword,
.cursorbad {
    position: absolute;
    right: 0;
    left: 0;
    opacity: 0.1;
    pointer-events: none;
    height: var(--line_height);
    margin-left: var(--pad);
}

.error {
    background: #F00;
}

.warning {
    background: #FFA500;
}

.cursor {
    background: #FF0;
    opacity: 0.5;
}

.cursor_after {
    background: #0FF;
    opacity: 0.5;
}

.cursorbad {
    background: #F88;
    opacity: 0.5;
}

.cursorword {
    background: #88F;
    opacity: 0.2;
}

.char {
    border: var(--char-border) solid #000
}

.char.cursor,
.char.cursor_after,
.char.cursorbad,
.char.eval,
.char.cursorword {
    border: 0px solid #000
}

.error.char {
    opacity: 0.2;
}

.eval {
    background: #FF0;
    opacity: 0.5;
}

.executor>DIV {
    word-break: break-all;
}

.executor>DIV>VAR {
    font-size: 80%;
    background: #FFF;
    margin-left: 1vw;
    border: 0.1vw solid #000;
    white-space: nowrap;
}

.wrapped {
    position: absolute;
    background: #EEE;
    opacity: 0.5;
}

.bubble_target {
    position: absolute;
    background: #FF0;
    opacity: 0.5;
    border: var(--target_feedback_width) solid #0000;
}

.bubble_content {
    position: absolute;
    background: #888;
    opacity: 0.9;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    font-family: sans-serif;
    pointer-events: all;
    white-space: pre-wrap;
    font-size: 1vw;
    box-sizing: border-box;
}

.bubble_content:hover {
    background: #000;
    opacity: 1;
}

.bubble_content DIV {
    color: #888;
    border-top-width: var(--bubble_handle_size);
    cursor: pointer;
    height: var(--bubble_handle_size);
    font-size: 0.4vw;
    white-space: nowrap;
    padding-left: 1vw;
    padding-right: 0.5vw;
}

.bubble_content DIV SPAN {
    font-size: 0.8vw;
    margin-top: -0.25vw;
    font-weight: bold;
    float: right;
    height: var(--bubble_handle_size);
}

.bubble_content:hover DIV {
    color: #FFF;
}

.bubble_content:hover DIV SPAN {
    color: #FFF;
}

.bubble_content TEXTAREA {
    font-size: 0.8vw;
    resize: both;
    border: 0px;
    left: 0.1vw;
    right: 0.1vw;
    bottom: 0.08vw;
    position: absolute;
    top: var(--bubble_handle_size);
    background: #FF8;
}

.bubble_target[hovered="1"],
.bubble_content[hovered="1"] {
    border-color: #000;
}

COMMENTS {
    position: absolute;
    color: #000;
    background: #EEE;
    border: 1px solid #888;
    overflow: hidden;
}

COMMENTS P {
    position: relative;
    margin: 0.1em ;
    white-space: nowrap;
    font-size: 80%;
    width: 20em;
}
COMMENTS P:hover {
    background: #FF8;
}

COMMENTS SPAN:last-child {
    position: absolute;
    color: #CC0;
    background: #EEE8;
    width: 2em;
    right: 0px;
    text-align: right;
}

COMMENTS .first_quartile {
    background: #FFF;
}

.line_numbers {
    text-align: right;
    font-size: 50%;
    line-height: var(--line_height);
    white-space: pre;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;
}

.line_numbers DIV {
    position: absolute;
    width: 100%;
}

.comments {
    z-index: 1000;
    overflow: hidden;
    pointer-events: none;
    height: 100%;
    width: calc(100% - var(--line_number_width));
}

BODY>DIV>DIV {
    padding-left: var(--pad);
    padding-right: var(--pad);
}

BODY>DIV>DIV.index {
    padding-left: 0px;
    padding-right: 0px;
}

DIV.overlay {
    pointer-events: none;
}

DIV.layered {
    position: absolute;
    overflow-x: visible;
    overflow-y: auto;
    z-index: 10;
}

DIV.overlay,
DIV.editor,
DIV.line_numbers,
DIV.comments {
    position: absolute;
    top: 0px;
    overflow: hidden;
}

DIV.layered>DIV {
    left: 0px;
}

.editor,
.overlay {
    padding-left: var(--target_feedback_width);
}

DIV.layered[display_line_numbers=yes]>DIV.overlay,
DIV.layered[display_line_numbers=yes]>DIV.editor,
DIV.layered[display_line_numbers=yes]>DIV.comments {
    left: var(--line_number_width);
}

DIV.line_numbers {
    display: none;
    left: 0px;
    width: calc(var(--line_number_width) - 0.2vw);
}

DIV.layered[display_line_numbers=yes] DIV.line_numbers {
    display: block;
}

DIV.overlay {
    background: #0000;
}

.executor INPUT {
    width: calc(100% - 1.4vw);
    font-size: 100%;
}

.executor BUTTON {
    position: absolute;
    right: 0px;
    font-size: 100%;
}

.checked:before,
.unchecked:before {
    font-size: 140%
}

.checked:before {
    content: '☑'
}

.unchecked:before {
    content: '☐'
}

ERROR {
    color: #800;
    font-weight: bold
}

TT {
    font-family: monospace, monospace;
}

.question PRE,
.tester PRE {
    border: 0.1vw solid #880;
    background: #FFD;
    margin: var(--pad);
    padding: 0.5vw;
}

H2 {
    text-align: left;
    font-size: 120%;
    margin-top: 0vw;
    margin-bottom: 0.3vw;
    padding-left: 0.5vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    background: linear-gradient(#0002, #FFFF, #0002);
    border-radius: 1vw;
}

.test_ok,
.test_bad {
    margin-left: 2vw;
}

.test_ok {
    color: #080
}

.test_bad {
    color: #F00
}

.test_ok {
    list-style-type: '☑ '
}

.test_bad {
    list-style-type: '☐ '
}

.time {
    background: #FFF;
    opacity: 0.3;
    font-size: 80%;
}

.index>DIV {
    background: #FFF;
}

.questions>DIV.possible {
    background: #FF0;
}

.questions>DIV.good {
    background: #0F0;
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    padding-right: 1.8vw;
}

.questions>DIV.current.good,
.questions>DIV.current.possible {
    background: #000;
}

.questions>DIV.current.good {
    color: #0F0
}

.questions>DIV.current.possible {
    color: #FF0
}

.questions>DIV.tips {
    opacity: 0;
    position: fixed;
    background: #EEF;
    border: 0.1vw solid #00F;
    margin-left: 1.5vw;
    padding: 0.2vw;
    transition: opacity 0.5s, visibility 0.5s;
    visibility: hidden;
    padding-top: 0px;
    margin-top: -0.1vw;
    z-index: 100;
}

.questions:hover>.tips {
    opacity: 0.9;
    visibility: visible;
}

.compiler LABEL {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    margin-right: 0.5vw;
}

LABEL {
    display: inline-block;
    font-size: 60%;
    vertical-align: top;
    background: #DDF;
    border: 0.1vw solid #00F;
    font-weight: normal;
    border-radius: 1vw;
    margin-left: 0.5vw;
}

LABEL:hover,
.save_button:hover {
    filter: brightness(0.9);
}

.stop_button {
    font-family: emoji;
    font-size: 100%;
}

LABEL SPAN {
    font-size: 80%;
}

LABEL * {
    vertical-align: middle
}


.done {
    background: #F00;
    color: #FFF;
}

.minus60 {
    background: #F00;
    color: #FFF;
    font-size: 300%;
}
.minus120 {
    color: #F00;
    font-size: 200%;
}
.minus300 {
    color: #000;
}
.longtime {
    color: #888;
}

.timer, .minus120, .minus300 {
    background: #4FF;
}

.fullscreen {
    position: fixed;
    right: 0%;
    left: 0%;
    top: 0%;
    bottom: 0%;
    display: none;
    background: #F00;
    color: #FFF;
    font-size: 200%;
    padding: 0.5vw;
    z-index: 10000;
}

.fullscreen SPAN {
    color: #000;
    background: #DFD;
    border-radius: 0.5vw;
    border: 0.1vw solid #0F0;
    padding: 0.2vw;
}

.fullscreen BUTTON {
    font-size: 100%
}

.fnsn {
    float:right;
    background: #CCF;
    margin-right: 0.3em;
    display: inline-block;
    max-height: 1.7vw;
    margin-top: -0.3vw;
    overflow: hidden;
    word-break: break-word;
}
.fnsn:hover {
    max-height: initial;
}

.truncate_sn,
.truncate_fn {
    display: inline-block;
    max-width: 6vw;
    height: 100%;
    overflow: hidden;
    vertical-align: top;
}

LABEL,
.index DIV,
.save_button,
.local_button,
.indent_button {
    cursor: pointer
}

KBD {
    background:#AEF;
    padding:0em 0.2em 0em 0.2em;
    border-radius:0.3em;
}

.editmode {
    margin-left: 0.5vw;
}

.editmode {
    font-size: 64%
}

.save_button,
.save_history {
    float: right;
    margin-right: 0.5vw;

}

.save_history,
BUTTON.grade_unselected[onclick] {
    border: 0.1vw outset #888;
    border-radius: 0.5vw;
    background: #EEE;
    padding: 0.1vw;
    margin: 0.1vw;
}

.save_history:hover,
BUTTON.grade_unselected[onclick]:hover {
    background: #DDD;
    border: 0.1vw inset #888;
}

.save_history {
    width: 8em;
}

.save_button {
    transition: background 1s
}

.save_button[state="wait"] {
    background: #F00;
    transition: background 0s
}

.version {
    background: #0F0;
}

.grading {
    font-size: 80%;
}

SELECT {
    font-size: 100%;
    padding: 0px;
}

.grading PRE {
    position: relative;
    padding-right: 0.5vw;
}

.grading PRE BUTTON {
    font-size: 100%;
    border: 0.1vw solid #FFF;
    padding: 0.1vw;
}

.grading PRE BUTTON.grade_unselected {
    background: #EEE;
}

.grading PRE BUTTON.grade_selected {
    background: #0F0;
}

.grading PRE SPAN.grade_undefined {
    background: #FF0;
}

BODY.dograding .grading PRE BUTTON:hover,
.grading PRE BUTTON.grade_selected:hover {
    border: 0.1vw solid #040;
}


.grading .link:hover {
    text-decoration: underline;
}

.grading .link {
    cursor: pointer;
    width: 100%;
    display: inline-block;
    border-left: 4px solid #00F;
}

.grading SPAN.competence,
.grading SPAN.grade_value,
#grading_sum {
    font-family: sans-serif;
    position: absolute;
    right: 0.2vw;
    /* Some space for firefox scrollbar */
    color: #00F;
}
.grading PRE BUTTON {
    font-size: 83%;
    vertical-align: top;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
}

.grading PRE SPAN.competence BUTTON[v="-1"], .grading PRE SPAN.competence BUTTON[v="?"] {
    --color: #DDD;
}

.grading PRE SPAN.competence BUTTON[v="0"] {
    --color: #EB707F;
}

.grading PRE SPAN.competence BUTTON[v="1"] {
    --color: #EEE592;
}

.grading PRE SPAN.competence BUTTON[v="2"] {
    --color: #BAE291;
}

.grading PRE SPAN.competence BUTTON[v="3"] {
    --color: #84A661;
}

.grading PRE SPAN.competence BUTTON[v="4"] {
    --color: #3E601B;
}

.grading PRE SPAN.competence BUTTON {
    background: var(--color);
    color: transparent;
    width: 1vw;
    height: 1vw;
}

.grading PRE SPAN.competence BUTTON.grade_selected {
    background: linear-gradient(45deg, transparent 45%, black 45%, black 55%, transparent 55%),
        linear-gradient(135deg, transparent 45%, black 45%, black 55%, transparent 55%),
        var(--color);
}

.grading #grading_sum {
    color: #000;
    background: #FFFD;
}

.completion {
    position: absolute;
    background: #EEE;
    font-family: sans-serif;
    font-size: 70%;
    z-index: 1000;
    pointer-events: none;
}

.active_completion {
    color: #FFF;
    background: #000;
}

#search_input {
    display: none;
    position: absolute;
    top: 1vw;
    left: 0px;
    font-size: 1vw;
    border: 0.1vw solid #000;
    z-index: 10;
    border-radius: 0.2vw;
    width: 20vw;
    background: #FFF;
}

.completion,
#search_input {
    box-shadow: 8px 8px 10px black;
}

.media {
    border-spacing: 0px;
}
.media TR {
    cursor: pointer;
}
.media TD DIV, .media IMG {
    height: 1.5vw;
}
.media IMG {
    vertical-align: bottom;
}
.media TR:hover {
    background: #EEE;
}
.media TD:first-child {
    text-align: center;
}
.media, .media TR, .media TD, .media DIV, .media IMG {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
