BODY {
    font-family: sans-serif;
    margin-top: 0px;
}

TABLE {
    border-spacing: 0px;
    border: 1px solid #AAA
}

TABLE TD,
TABLE TH {
    border: 2px solid #DDD;
    padding: 2px
}

TABLE TD.course DIV {
    width: 13em;
}

TABLE TD.compiler DIV {
    width: 3em;
}

TABLE TD.title DIV {
    width: 20em;
}

TABLE TD.clipped DIV {
    overflow: hidden;
    white-space: nowrap
}

TABLE TD.clipped:hover DIV {
    background: #FF0;
    overflow: visible;
    position: absolute;
    width: auto;
    padding-right: 1em
}

TR:hover TD {
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    padding-top: 2px;
    padding-bottom: 2px;
}

TD {
    vertical-align: top
}

TD.names DIV {
    width: 6em;
}

TD.tipped DIV {
    white-space: nowrap;
    overflow: hidden;
    z-index: 1
}

TD.tipped:hover DIV {
    background: #FFE;
    overflow: visible;
    position: absolute;
    white-space: normal;
    margin-left: 3em;
    border: 1px solid #880;
    margin-top: -1em;
    width: 10em;
    padding: 0.5em;
}

TD.tipped:hover {
    background: #FF0
}

TH.header {
    background: #55F;
    color: #FFF
}

TH {
    background: #EEF
}

A {
    text-decoration: none
}

FORM {
    display: inline-block
}

FORM INPUT {
    display: none
}

FORM SPAN {
    border: 1px outset #888;
    border-radius: 0.5em;
    background: #EEE;
    padding: 0.2em
}

FORM SPAN:hover {
    border: 1px inset #888;
    background: #DDD
}

SPAN VAR {
    display: none;
    background: #FFE;
    border: 1px solid #880;
    position: absolute;
    z-index: 1
}

SPAN:hover VAR {
    display: block
}

TD SPAN:hover {
    background: #FF0
}

BUTTON {
    font-size: 100%
}

#header {
    position: sticky;
    top: 0px;
    background: #FFE ;
    z-index: 1000;
}

.sticky {
    position: sticky;
    top: 2.8em;
}

.sticky2 {
    position: sticky;
    top: 4.2em;
}

#filter {
    background: #FF0;
}

.filter_menu {
    display: inline-block;
    position: absolute;
    background: #FFF;
    border: 1px solid black;
    left: 3em;
    top: 1.3em;
    max-height: calc(100vh - 2em);
    overflow: scroll;
}
.filter_menu OPTION:hover {
    background: #DDD;
}

#column_toggles SPAN { border: 1px solid #00F }
#column_toggles SPAN[checked]:hover { background: #88F }

#column_toggles SPAN[checked="1"] { background: #FFF }
#column_toggles SPAN[checked="0"] { background: #DDF }

BODY.hide1 TR > *:nth-child(1),
BODY.hide2 TR > *:nth-child(2),
BODY.hide3 TR > *:nth-child(3),
BODY.hide4 TR > *:nth-child(4),
BODY.hide5 TR > *:nth-child(5),
BODY.hide6 TR > *:nth-child(6),
BODY.hide7 TR > *:nth-child(7),
BODY.hide8 TR > *:nth-child(8),
BODY.hide9 TR > *:nth-child(9),
BODY.hide10 TR > *:nth-child(10),
BODY.hide11 TR > *:nth-child(11),
BODY.hide12 TR > *:nth-child(12),
BODY.hide13 TR > *:nth-child(13),
BODY.hide14 TR > *:nth-child(14),
BODY.hide15 TR > *:nth-child(15),
BODY.hide16 TR > *:nth-child(16),
BODY.hide17 TR > *:nth-child(17),
BODY.hide18 TR > *:nth-child(18),
BODY.hide19 TR > *:nth-child(19),
BODY.hide20 TR > *:nth-child(20)
BODY.hide21 TR > *:nth-child(21)
{ display: none }
