[VARIABLES]
# C5 provided
additional-builtins=MORE,COURSE,TICKET,LOGIN,STUDENTS,STUDENT_DICT,CONFIG,MESSAGES,BUILDINGS,GRADING,STUDENT,NOTATION,NOTATIONB,ANSWERS,ADMIN,SOCK,STOP,VERSIONS,WHERE,INFOS,ALL_SAVES,DEFAULT_BUILDING,IPS,SERVER_TIME,FEEDBACK_LEVEL,GRADE,COMMENTS,GRADES,DEFAULT_COURSE_OPTIONS,OPTIONS,
# compile.py
	Compile,Question,Session,
# compatibility.py
	update_page,html,bind,hljs,record,nice_date,two_digit,parse_grading,millisecs,is_int,parse_notation,post,
# Javascript functions
	confirm,prompt,alert,Math,setInterval,setTimeout,setTimeout,encodeURIComponent,isNaN,importScripts,
# Javascript classes
	Math,JSON,RegExp,Date,Number,Object,Array,String,
# Javascript objects
	screen,document,window,history,navigator,localStorage,
# Rapydscript
	external

[MESSAGES CONTROL]
disable=C0302

[TYPECHECK]
zope=yes
generated-members=Items,Values,indexOf
