BODY {
    font-family: sans-serif;
    font-size: 1vw;
    --pad: 0.5em;
    --line_height: 1.18vw;
    --header_height: 2.1em;
    --line_number_width: 40px;
    overflow: hidden;
}

DIALOG {
    border-width: 1vw;
    border-radius: 1em;
}
DIALOG BUTTON {
    display: block;
    margin-top: 4em ;
    float: right;
    font-size: 130%;
}
DIALOG BUTTON#popup_cancel {
    float: left;
}
DIALOG INPUT {
    font-size: 100%;
    margin: 1em ;
}

DIV.question {
    text-align: justify;
    overflow: auto;
}

DIV.compiler,
DIV.executor,
DIV.editor,
DIV.editor_title,
DIV.overlay {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    font-family: monospace, monospace;
    line-height: var(--line_height);
    overflow: auto;
}

DIV.editor_title H2 {
    margin-bottom: 0px;
}
DIV.editor_title SELECT {
    font-size: 70%;
    max-width: 16em;
}


DIV.tester {
    overflow: auto;
}

DIV.grading {
    overflow: auto;
}

DIV.grading SELECT {
    width: 12.5em;
}

DIV.editor {
    outline: none;
}

DIV.grading > DIV:first-child,
DIV.question > DIV:first-child,
DIV.tester > DIV:first-child,
DIV.compiler > DIV:first-child,
DIV.executor > DIV:first-child
{
    position: sticky;
    top: 0px;
    z-index: 2;
}

.error,
.warning,
.eval,
.cursor,
.cursor_after,
.cursorword,
.cursorbad {
    position: absolute;
    right: 0;
    left: 0;
    opacity: 0.1;
    pointer-events: none;
    height: var(--line_height);
    margin-left: var(--pad);
}

.error {
    background: #F00;
}

.warning {
    background: #FFA500;
}

.cursor {
    background: #FF0;
    opacity: 0.5;
}
.cursor_after {
    background: #0FF;
    opacity: 0.5;
}

.cursorbad {
    background: #F88;
    opacity: 0.5;
}

.cursorword {
    background: #88F;
    opacity: 0.2;
}

.char {
    border: 2px solid #000
}

.char.cursor, .char.cursor_after, .char.cursorbad, .char.eval, .char.cursorword {
    border: 0px solid #000
}

.error.char {
    opacity: 0.2;
}

.eval {
    background: #FF0;
    opacity: 0.5;
}

.executor > DIV > VAR {
    font-size: 80%;
    background: #FFF;
    margin-left: 1em;
    border: 1px solid #000;
    white-space: nowrap;
}

.wrapped {
    position: absolute;
    background: #EEE;
    opacity: 0.5;
}

.line_numbers {
    text-align: right;
    font-size: 50%;
    line-height: var(--line_height);
    white-space: pre;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
}
.line_numbers DIV {
    position: absolute;
    width: 100%;
}
.comments {
    z-index: 1000;
    overflow: hidden;
    pointer-events: none;
}
.comments TEXTAREA {
    position: absolute;
    display: block;
    opacity: 0.6;
    font-size: 80%;
    pointer-events: all;
}
.comments TEXTAREA:hover {
    opacity: 1;
}

.comments TEXTAREA.empty {
    width: 1vw;
    resize: none;
    height: 1.2em;
}

.comments TEXTAREA.empty:focus {
    width: auto;
    height: auto;
    resize: auto;
}

.comments TEXTAREA.filled, .comments TEXTAREA:focus {
    z-index: 2;
}
.comments TEXTAREA.saving {
    background: #F88;
}
.comments TEXTAREA.filled {
    background: #DFD;
}
.comments TEXTAREA:focus {
    background: #FFF;
}

BODY>DIV>DIV {
    padding-left: var(--pad);
    padding-right: var(--pad);
}

BODY>DIV>DIV.index {
    padding-left: 0px;
    padding-right: 0px;
}

DIV.overlay {
    pointer-events: none;
}

DIV.layered {
    position: absolute;
    overflow-x: visible;
    overflow-y: auto;
    z-index: 10;
}

BODY.dograding DIV.layered { direction: rtl; }
BODY.dograding DIV.layered > DIV { direction: ltr; }

DIV.overlay, DIV.editor, DIV.line_numbers, DIV.comments {
    position: absolute;
    top: 0px;
}
DIV.layered > DIV {
    left: 0px ;
}
DIV.layered[display_line_numbers=yes] > DIV.overlay,
DIV.layered[display_line_numbers=yes] > DIV.editor,
DIV.layered[display_line_numbers=yes] > DIV.comments {
    left: var(--line_number_width);
}
DIV.line_numbers {
    display: none;
    left: 0px;
    width: calc(var(--line_number_width) - 10px);
}
DIV.layered[display_line_numbers=yes] DIV.line_numbers {
    display: block;
}

DIV.overlay {
    background: #0000;
}
.executor INPUT {
    width: calc(100% - 0.3em);
    font-size: 100%;
}

.checked:before, .unchecked:before { font-size: 140% }
.checked:before { content: '☑' }
.unchecked:before { content: '☐' }

ERROR {
    color: #800;
    font-weight: bold
}

TT {
    font-family: monospace, monospace;
}

.question PRE, .tester PRE {
    border: 1px solid #880;
    background: #FFD;
    margin: var(--pad);
    padding: 0.5em;
}

H2 {
    text-align: left;
    font-size: 120%;
    margin-top: 0em;
    margin-bottom: 0.3em;
    padding-left: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    background: linear-gradient(#0002, #FFFF, #0002);
    border-radius: 1em;
}

.test_ok,
.test_bad {
    margin-left: 2em;
}

.test_ok {
    color: #080
}

.test_bad {
    color: #F00
}

.test_ok {
    list-style-type: '☑ '
}

.test_bad {
    list-style-type: '☐ '
}

.time {
    background: #FFF;
    opacity: 0.3;
    font-size: 80%;
}

.index>DIV {
    font-size: 80%;
    background: #FFF;
}

.questions>DIV.possible {
    background: #FF0;
}

.questions>DIV.good {
    background:#0F0;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding-right: 1.8em;
}

.questions>DIV.current.good, .questions>DIV.current.possible {
    background: #000;
}
.questions>DIV.current.good {
    color: #0F0
}
.questions>DIV.current.possible {
    color: #FF0
}

.questions>DIV.tips {
    opacity: 0;
    position: fixed;
    background: #EEF;
    border: 1px solid #00F;
    margin-left: 1.5em;
    padding: 0.2em;
    transition: opacity 0.5s, visibility 0.5s;
    visibility: hidden;
    padding-top: 0px;
    margin-top: -1px;
    z-index: 100;
}

.questions:hover>.tips {
    opacity: 0.9;
    visibility: visible;
}

.timer, .compiler LABEL {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-right: 0.5em;
    float: right;
}

.timer, LABEL {
    display: inline-block;
    font-size: 60%;
    vertical-align: top;
    background: #DDF;
    border: 1px solid #00F;
    font-weight: normal;
    border-radius: 1em;
    margin-left: 0.5em;
}

LABEL:hover, .save_button:hover {
    filter: brightness(0.9);
}

.stop_button {
    position: absolute;
    right: 10em;
    font-family: emoji;
    display:inline-block;
    line-height: 1em;
    cursor:pointer;
    border: 1px solid #800;
    font-family:sans-serif;
    font-weight:bold;
    font-size:60%;
    color:#F00;
    background:#FFF;
    border-radius:0.5em;
    padding:0.1em;
    margin-top:-3px;
}

LABEL SPAN {
    font-size: 80%;
}

LABEL *, .timer * { vertical-align: middle }

.timer {
    display: inline-block;
    background: #DFD;
    border: 1px solid #0F0;
    height: 2.5em;
    margin-top: -0.3em
}
.timer SPAN { display: inline-block; }

H2:hover .timer SPAN DIV {
    visibility: visible;
}

.timer SPAN DIV {
    visibility: hidden;
}

.timer .done {
    background: #F00;
    color: #FFF;
    visibility: visible;
}
.timer SPAN.minus60 DIV {
    font-size: 300%;
    background: #FFF;
}
.timer SPAN.minus120 DIV, .timer SPAN.minus60 DIV {
    color: #F00;
    visibility: visible;
}
.timer SPAN.minus300 DIV {
    visibility: visible;
}

.popup {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    border: 1em solid #F00;
    background: #FEE;
    opacity: 0.9;
    text-align: center;
    font-size: 200%;
    padding: 2em;
    z-index: 20;
}

.fullscreen {
    position: fixed;
    right: 0px;
    bottom: 0px;
    display: none;
    background: #F00;
    color: #FFF;
    font-size: 100%;
    padding: 0.5em;
}
.fullscreen SPAN {
    color: #000;
    background: #DFD;
    border-radius: 0.5em;
    border: 1px solid #0F0;
    padding: 0.2em;
}

.truncate_sn, .truncate_fn {
    display: inline-block;
    max-width: 6em;
    height: 1em;
    overflow: hidden;
    vertical-align: top;
}
SPAN:hover .truncate_sn, SPAN:hover .truncate_fn {
    height: auto;
}

LABEL, .index DIV, .save_button, .local_button, .tag_button, .indent_button { cursor: pointer }


.save_button, .save_history, .tag_button { float: right; margin-right: 0.5em }

.save_button[enabled="false"][state="wait"] { background: #F00 }
.save_button[enabled="false"][state="ok"]   { background: #0F0 }
.save_button[enabled="true"][state="wait"]  { background: #F00 }
.save_button[enabled="true"][state="ok"]    { }

.index > .version {
    background: #0F0;
    font-size: 100%;
}

.grading {
    font-size: 80%;
}
SELECT {
    font-size: 100%;
    padding: 0px;
}

.grading PRE {
    position:relative;
    padding-right: 0.5em;
}

.grading BUTTON {
    font-size: 100%;
    border: 1px solid #FFF;
}
.grading BUTTON.grade_unselected {
    background: #EEE;
}
.grading BUTTON.grade_selected {
    background: #0F0;
}
.grading BUTTON.grade_undefined {
    background: #FF0;
}
.grading BUTTON:hover {
    border: 1px solid #040;
}
.grading SPAN {
    font-family: sans-serif;
    position: absolute;
    right: 0.2em; /* Some space for firefox scrollbar */
    color: #00F;
}

.grading #grading_sum {
    color: #000;
    background: #FFFD;
}

